* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.Na {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: #333;
  padding: 10px;
}
.hero-text {
  color: white;
  font-size: 20px;
  color: #333;
}
.m a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.m a:hover {
  color: blue;
}
.hero {
  justify-content: space-between;
  align-items: center;
  background-color: #f9e1e1;
  padding: 100px;
  padding-left: 30px;
  display: flex;
}
.e {
  padding-left: 10px;
  color: white;
}
.hero-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.hero button {
  padding: 10px 20px;
  background-color: orangered;
  color: white;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
}

.sh img {
  width: 350px;
}
.product {
  background-color: #f4f4f4;
  padding: 60px;
  text-align: center;
}
.service {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.c {
  border: solid 1px rgb(229, 213, 213);
  padding: 20px;
  text-align: center;
  /* width: 500px; */
}

.c button {
  background-color: black;
  color: white;
  padding: 5px;
  margin-top: 10px;
  /* width: px; */
  width: 80px;
}
footer {
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
}

.service img {
  width: 100px;
}
